
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.container {
	overflow: hidden;
	background-color:rgb(255, 255, 255);
}

@media screen and (min-width: 651px) {

	.bg {
		width: 100%;
		height: 110vh;
		background-size: 300% 300%;
		background-image: linear-gradient(-45deg, rgb(240, 224, 0) 0%, rgb(130, 255, 118) 25%, rgb(255, 214, 255) 51%, rgb(255, 243, 82) 100%);
		-webkit-animation: AnimateBG 10s ease infinite;
				animation: AnimateBG 10s ease infinite;
	}
	
	@-webkit-keyframes AnimateBG {
		0% {
		background-position: 0% 50%;
		}
		50% {
		background-position: 100% 50%;
		}
		100% {
		background-position: 0% 50%;
		}
	}
	
	@keyframes AnimateBG {
		0% {
		background-position: 0% 50%;
		}
		50% {
		background-position: 100% 50%;
		}
		100% {
		background-position: 0% 50%;
		}
	}

	.intro-grid{
		display: grid;
		grid-template-rows: 1fr 1fr;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		row-gap: 40px;
		padding: 10px 20px;
	}

	.intro > a {
		opacity: 0.8;
		color: rgb(61, 61, 61);
		text-decoration: none;
		font-size: 32px;
		transition: font-size 0.15s;
		border-width: 250px;
	}

	.intro > a:hover{
		opacity: 1;
		font-size: 35px;
	}

	.intro > a:active{
		opacity: 0.6;
	}

	.the-boys{
		transition: opacity  0.15s,
					font-size 0.15s;
		font-size: 25px;
	}

	.the-boys:hover {
		opacity: 0.8;
		font-size: 28px;
		cursor: pointer;
	}

	.the-boys > a {
		text-decoration: none;
		color: rgb(46, 46, 46);
	}

	.index-btn {
		background-color: rgb(57, 196, 184);
		border: none;
		border-radius: 50px;
		padding: 10px;
		font-weight: bold;
		font-size: 10px;
		box-shadow: 2px 2px 2px 0;
		cursor: pointer;
		transition: background-color 0.15s,
					font-size 0.15s,
					box-shadow 0.15s;
	}

	.index-btn:hover{
		background-color: rgb(34, 168, 157);
		font-size: 12px;
		padding: 11px;
		box-shadow: 3px 3px 3px 0;
	}

	.index-btn:active{
		background-color: rgb(57, 196, 184);
	}

	.index-btn > a {
		text-decoration: none;
		color: black;
	}

	.search-grid {
		display: grid;
		grid-template-columns: 1.5fr 1fr;
		column-gap: 30px;
	}

	.inline-horizontal {
		display: inline-block;
		padding: 10px 30px;
	}

	.inline-horizontal > h2 {
		text-align: justify;
	}

	.fade-out {
		padding: 150px 50px;
		justify-content: center;
		background-color: rgb(125, 180, 173);
		transition: background-color 0.3s,
					color 0.15s;
	}

	.fade-out > h1{
		font-size: 40px;
	}
	
	.fade-out > h2{
		font-size: 20px;
	}
	
	.fade-out:hover{
		background-color: black;
		color: rgb(125, 180, 173);
	}
	
	.fade-out a{
		background-color: rgb(125, 180, 173);
		color: black;
		text-decoration: none;
		transition: background-color 0.15s,
					font-size 0.5s,
					font-weight 0.15s,
					color 0.15s;
	}
	
	.fade-out:hover a{
		background-color: black;
		color: rgb(125, 180, 173);
		text-decoration: none;
		font-size: 18px;
		font-weight: bold;
	}

	.form-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px 0px;
	}

	.drop-tags{
		font-weight: bold;
		display: flex;
		flex-direction: column;
		margin: 2px 42px;
	}
	
	.text-field {
		color: rgb(0, 0, 0);
		height: 25px;
		width: 150px;
		margin: 10px auto;
		border: none;
		border-width: 1px;
		border-style: solid;
		box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.4);
		border-radius: 10px;
		padding: 0px 5px;
		justify-content: space-around;
		align-items: center;
		margin-right: 30px;
	}

	.section {
		position: relative;
		display: inline-block;
		margin-right: 15px;
	}

	.section:hover .dropdown-btn {
		background-color: #d5e0df;
	}	
	
	.submit-btn{
		background-color: rgb(57, 196, 184);
		display: block;
		border: none;
		border-radius: 20px;
		padding: 5px 10px;
		margin-top: 40px;
		margin-left: 115px;
		font-weight: bold;
		cursor: pointer;
		transition: background-color 0.15s,
					padding 0.15s,
					box-shadow 0.15s;
	}
	
	.submit-btn:hover{
		background-color: rgb(80, 209, 198);
		box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.4);
		padding : 6px 11px;
	}
	
	.submit-btn:active{
		background-color: rgb(34, 116, 109);
		opacity: 0.8;
	}

	.signature{
		font-size: 10px;
		font-weight: bold;
		display: flex;
		flex-direction: column;
		align-items: center;
		cursor: pointer;
		color: black;
		margin-left: -42px;
	}

	.signature a{
		color: black;
		text-decoration: none;
		transition:	color 0.2s;
	}

	.signature a:hover{
		color: rgb(13, 86, 104);
	}

	/* Javascript styling */
	
	.show-weather {
		width: 350px;
		padding: 2px 2px 0;
		font-size: 15px;
		background-color: rgb(170, 170, 170);
		overflow: hidden;
		text-align: justify;
		max-height: 200px;
	}

	.heightened {
		margin-bottom : 300px;
		transition: margin-bottom 1.5s;
	}
	
	.no-heightened {
		margin-bottom : 0px;
		transition: margin-bottom 1.5s;
	}
}

@media screen and (max-width: 650px) and (min-width: 321px) {
	
	.bg {
		padding: 0px 45px;
		text-align: center;
		height: 110vh;
		width: 100%;
		background-size: 300% 300%;
		background-image: linear-gradient(-45deg, rgb(240, 224, 0) 0%, rgb(130, 255, 118) 25%, rgb(255, 214, 255) 51%, rgb(255, 243, 82) 100%);
		-webkit-animation: AnimateBG 10s ease infinite;
				animation: AnimateBG 10s ease infinite;
	}
	
	@-webkit-keyframes AnimateBG {
		0% {
		background-position: 0% 50%;
		}
		50% {
		background-position: 100% 50%;
		}
		100% {
		background-position: 0% 50%;
		}
	}
	
	@keyframes AnimateBG {
		0% {
		background-position: 0% 50%;
		}
		50% {
		background-position: 100% 50%;
		}
		100% {
		background-position: 0% 50%;
		}
	}

	.intro-grid{
		display: grid;
		grid-template-rows: 1fr 1fr;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		row-gap: 40px;
	}

	.intro-grid-one {
		font-size: 23px;
	}

	.intro-grid-two {
		font-size: 21px;
	}
	
	.intro > a {
		opacity: 0.8;
		color: rgb(61, 61, 61);
		text-decoration: none;
		font-size: 23px;
		transition: font-size 0.15s;
		border-width: 250px;
	}
	
	.intro > a:hover{
		opacity: 1;
		font-size: 23px;
	}
	
	.intro > a:active{
		opacity: 0.6;
	}
	
	.the-boys{
		transition: opacity  0.15s,
					font-size 0.15s;
		font-size: 21px;
	}
	
	.the-boys:hover {
		opacity: 1;
		font-size: 21px;
		cursor: pointer;
	}
	
	.the-boys > a {
		text-decoration: none;
		color: rgb(46, 46, 46);
	}
	
	.index-btn {
		background-color: rgb(57, 196, 184);
		border: none;
		border-radius: 50px;
		padding: 10px;
		font-weight: bold;
		font-size: 10px;
		box-shadow: 2px 2px 2px 0;
		cursor: pointer;
		transition: background-color 0.15s,
					font-size 0.15s,
					box-shadow 0.15s;
	}
	
	.index-btn:hover{
		background-color: rgb(34, 168, 157);
		font-size: 12px;
		padding: 11px;
		box-shadow: 3px 3px 3px 0;
	}
	
	.index-btn:active{
		background-color: rgb(57, 196, 184);
	}
	
	.index-btn > a {
		text-decoration: none;
		color: black;
	}	

}

@media screen and (max-width: 320px) {
	
	.bg {
		padding: 0px 45px;
		text-align: center;
		width: 100%;
		height: 100vh;
		background-size: 300% 300%;
		background-image: linear-gradient(-45deg, rgb(240, 224, 0) 0%, rgb(130, 255, 118) 25%, rgb(255, 214, 255) 51%, rgb(255, 243, 82) 100%);
		-webkit-animation: AnimateBG 10s ease infinite;
				animation: AnimateBG 10s ease infinite;
	}
	
	@-webkit-keyframes AnimateBG {
		0% {
		background-position: 0% 50%;
		}
		50% {
		background-position: 100% 50%;
		}
		100% {
		background-position: 0% 50%;
		}
	}
	
	@keyframes AnimateBG {
		0% {
		background-position: 0% 50%;
		}
		50% {
		background-position: 100% 50%;
		}
		100% {
		background-position: 0% 50%;
		}
	}

	.intro-grid{
		display: grid;
		grid-template-rows: 1fr 1fr;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		row-gap: 40px;
	}

	.intro-grid-one {
		font-size: 22px;
	}

	.intro-grid-two {
		font-size: 20px;
	}
	
	.intro > a {
		opacity: 0.8;
		color: rgb(61, 61, 61);
		text-decoration: none;
		font-size: 20px;
		transition: font-size 0.15s;
		border-width: 250px;
	}
	
	.intro > a:hover{
		opacity: 1;
		font-size: 22px;
	}
	
	.intro > a:active{
		opacity: 0.6;
	}
	
	.the-boys{
		transition: opacity  0.15s,
					font-size 0.15s;
		font-size: 18px;
	}
	
	.the-boys:hover {
		opacity: 1;
		font-size: 20px;
		cursor: pointer;
	}

	.the-boys > a {
		text-decoration: none;
		color: rgb(46, 46, 46);
	}
	
	.index-btn {
		background-color: rgb(57, 196, 184);
		border: none;
		border-radius: 50px;
		padding: 10px;
		font-weight: bold;
		font-size: 10px;
		box-shadow: 2px 2px 2px 0;
		cursor: pointer;
		transition: background-color 0.15s,
					font-size 0.15s,
					box-shadow 0.15s;
	}
	
	.index-btn:hover{
		background-color: rgb(34, 168, 157);
		font-size: 12px;
		padding: 11px;
		box-shadow: 3px 3px 3px 0;
	}
	
	.index-btn:active{
		background-color: rgb(57, 196, 184);
	}
	
	.index-btn > a {
		text-decoration: none;
		color: black;
	}
	
}
