<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather finder</title>
</head>
<body class="container">

<div class="left-float spans">
    <h1>Weather Finder &RightArrow; </h1>
    <h2>Use the information at the right to find the weather of a specific location</h2>
</div>

    <!-- Forms for specific location -->
			<div class="weather-form spans">

                <!-- Country dropdown -->
                <form method="POST" action="{% url 'home' %}">
                <span class="section">
                    <label for="country" class="drop-tags">Country</label>
                    <select class="dropdown-btn" id="country" name="country">
                        <option selected disabled>Select a country</option>
                        <option>Country 1</option>
                        <option>Country 2</option>
                    </select>
                </span>

                <!-- City dropdown -->
                <span class="section">
                    <label for="city" class="drop-tags" id="city" name="city">City</label>
                    <select class="dropdown-btn" onclick="showFunction()">
                        <option selected disabled>Select a city</option>                        <option>City 1</option>
                        <option>City 2</option>
                    </select>
                </span>

                <!-- Submit button -->
                <p></p>
				<button class="submit-btn">Get weather</button>
                </form>
			</div>

        <span class="signature"> 
            <footer> &copy; <a href="https://thebasilugo.github.io/staticweb" target="
                _blank">thebasilugo</a> 2023</footer>
        </span>

            <script src="index.js"></script>
</body>
</html>
