<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather finder</title>
</head>
<body class="container bg">


<div class="left-float spans">
    {% if weather %}
          <h1>Weather: {{ weather }}</h1>
          <h1>Min Temperature: {{ temp_min }}</h1>
          <h1>Max Temperature: {{ temp_max }}</h1>
    {% else %}
          <p class="prev"><a href="index.html">&lt; GO BACK</a></p>
          <h1>Weather Finder &RightArrow;</h1>
          <h2>Use the information at the right to find the weather of a specific location, which would be displayed here!</h2>
    {% endif %}
</div>

    <!-- Forms for specific location -->
			<div class="weather-form spans">
            <form method="post">
                {% csrf_token %}
                <!-- Country dropdown -->
                <span class="section">
                    <label for="country" class="drop-tags">Country</label>
                    <input class="text-field" type="text" placeholder="E.g; Nigeria" id="country" name="country">
                </span>

                <!-- City dropdown -->
                <span class="section">
                    <label for="city" class="drop-tags">City</label>
                    <input class="text-field" type="text" placeholder="E.g; Lagos" id="city" name="city">
                </span>

                <!-- Submit button -->
				<button class="submit-btn" id="weather-info" >Show Weather</button>
                <br><br>
                <div class="spans">
                    <p id="display-info" class=""></p>
                </div>
            </form>     
			</div>

        <span class="signature"> 
            <footer> &copy; <a href="https://thebasilugo.github.io/staticweb" target="
                _blank">thebasilugo</a> 2023</footer>
        </span>

            <script src="static\js\index.js">
            </script>
            
</body>
</html>